{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <script>
        document.getElementById("Logout").style.visibility = "hidden";
    </script>

    <div align="center">
        <img src="/static/imgs/HomeLogo.png"/>
    </div>
    
    <p class="text-center">Descripcion</p>
    
    <p><a href="{{ url_for('signup') }}" class="btn btn-warning btn-block">Sign Up!</a></p>
    <p><a href="{{ url_for('login') }}" class="btn btn-danger btn-block">Login!</a></p>

</div>

{% endblock %}
