{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <script>
        document.getElementById("Logout").style.visibility = "hidden";
        document.getElementById("Linkchip").style.visibility = "hidden";
        document.getElementById("Login").style.visibility = "visible";
        document.getElementById("SignUp").style.visibility = "visible";
    </script>

    <div align="center">
        <img src="/static/imgs/HomeLogo.png"/>
    </div>
    
    <p class="text-center">Bienvenido a nuestro Start-Up de PI 1</p>


</div>

{% endblock %}
