{% extends "layout.html" %}

{% block content %}


<!- componente Jumbotron de Bootstrap- >
<div class="jumbotron">
    
    <h2>{{ title }}</h2>
    <h3>{{ message }}</h3>


    <form role="form">
        <div class="form-group">
            <small for="InputEmail">Email Address</small>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter Email">

        <div class="form-group">
            <small for="InputPassword">Password</small>
            <input type="password" class="form-control" id="InputPassword" placeholder="Password">

        </div>
        <div class="form-check">
            <small class="form-check-label" for="RememberCheck">Remember me</small>
            <input type="checkbox" class="form-check-input" id="RememberCheck">
            
        </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Login</button>
    </form>

</div>

{% endblock %}
