{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron">
        <h2>{{ title }}</h2>
        <h3>{{ message }}</h3>

        <form>
            <div class="form-row">
                <div class="form-group">
                    <small for="fullname">Fullname</small>
                    <input type="text" class="form-control" id="fullname" placeholder="Name">
                </div>
                
                <div class="form-group">
                    <small for="email">Email</small>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <small for="password">Password</small>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <small for="confirmpassword">Confirm Password</small>
                    <input type="password" class="form-control" id="confirmpassword" placeholder="Password">
                </div>
            </div>

        
            <button type="button" class="btn btn-success" onclick="Register()">Sign in</button>
        </form>

    </div>

{% endblock %}
